python-openstackclient
funcsigs
pyyaml
python-novaclient
python-neutronclient
python-keystoneclient
python-glanceclient
python-swiftclient
python-cinderclient
python-heatclient
python-ceilometerclient
python-zaqarclient
